<header class="container">
  <nav class="navbar navbar-light bg-light p-1">
    <a class="navbar-brand" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg" width="30" height="30"
        class="d-inline-block align-top" alt="Pokéball" />
      Pokedex
    </a>
    <a class="nav-item nav-link" href="/list_v1">Simple List</a>
    <a class="nav-item nav-link" href="/list_v2">Detailed List</a>

    <form method="post" action="/search">
      <input class="form-label" type="text" placeholder="Search" id="name" name="pokemonName" />
      <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </nav>
</header>